{% extends 'base.html' %}
{% block content %}
{% load static %}



<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Choose <em>Program</em></h2>
                    <img src="{% static 'images/line-dec.png' %}" alt="waves">
                    <p>Training Studio is free CSS template for gyms and fitness centers. You are allowed to use this layout for your business website.</p>
                </div>
            </div>
            <div class="row">
            {% for Program in Programs %}
                <div class="col-md-4 col-sm-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'images/features-first-icon.png'%}" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>{{Program.Program_title}}</h4>
                                <p>{{Program.Program_description}}</p>
                                <a href="{% url 'program_detail' Program.Program_id %}" class="text-button">Discover More</a>
                            </div>
                        </li>
                    </ul>
                </div>
                {%endfor%}
            </div>

        </div>
    </div>
</section>
{% endblock %}