{%load static%}
    
    <body>
    

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'images/gym-video.mp4' %}" type="video/mp4" />
        </video>
    
        <div class="video-overlay header-text">
            <div class="caption">
                <h6>work harder, get stronger</h6>
                <h2>easy with our <em>gym</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="{% url 'signupaccount' %}">Üyemiz Ol</a>
                </div>
            </div>
        </div>
    </div>

    
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">Training<em> Studio</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                        <li class="scroll-to-section"><a href="{% url 'about' %}">About</a></li>
                        <li class="scroll-to-section"><a href="{% url 'classes' %}">Classes</a></li>
                        <li class="scroll-to-section"><a href="{% url 'schedule' %}">Schedules</a></li>
                        <li class="scroll-to-section"><a href="{% url 'contact' %}">Contact</a></li> 
                        {% if user.is_authenticated %}

                            <li class="scroll-to-section"><a href="">{{ user.username}}</a>
                            <li class="scroll-to-section"><a href="{% url 'logoutaccount' %}">Log out</a></li>
                        {% else %}
                        <li class="scroll-to-section"><a href="{% url 'signupaccount' %}">Sign Up</a></li>
                        <li class="main-button"><a href="{% url 'loginaccount' %}">Log in</a></li>
                        {% endif %}
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>