<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->

    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->

    <!-- ***** Our Classes End ***** -->
    

    
    <!-- ***** Contact Us Area Starts ***** -->
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
{% endblock %}