{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Classes <em>Schedule</em></h2>
                    <img src="{% static 'images/line-dec.png' %}" alt="">
                    <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="filters">
                    <ul class="schedule-filter">
                        <li data-tsfilter="0">Monday</li>
                        <li data-tsfilter="1">Tuesday</li>
                        <li data-tsfilter="2">Wednesday</li>
                        <li data-tsfilter="3">Thursday</li>
                        <li data-tsfilter="4">Friday</li>
                    </ul>
                </div>
            </div>
            {%for Class in Classes %}
            <div class="col-lg-10 offset-lg-1">
                <div class="schedule-table filtering">
                    <table>
                        <tbody>
                            <tr>
                                <td class="day-time">{{Class.Class_name}}</td>
                                <td class="{{Class.Class_dayOfTheWeek}} ts-item"  data-tsmeta="{{Class.Class_dayOfTheWeek}}">{{Class.Class_finishingtime}} - {{Class.Class_beginningtime}}</td>
                                <td>Trainer {{Class.Trainer_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>


{% endblock %}